<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.healthcare.cbcanalyzer" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CBCAnalyzer">
        <activity android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity android:name=".CBCAnalysis" android:label="CBC Analysis Form"/>
        <activity android:name=".AnalysisResult" android:label="CBC Analysis Result"/>
        <activity android:name=".CBC_RangeBook" android:label="CBC Range Book"/>
        <activity android:name=".Recommendation_Book" android:label="Home Remedies Recommendation Book"/>
    </application>

</manifest>